* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    text-align: right;
    padding: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    width: 15px;
    text-align: center;
    background-color: rgb(131, 127, 127);    border-radius: 50%;
    margin-left: 10px;
    line-height: 5px;
    font-size: 8px;
    font-weight: 900;
    padding: 5px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
